div {
  text-align: center;
  h2 {
    background-color: #1a4478;
    color: white;
  }
}

.message-error {
  background-color: #FAA228;
  opacity: 0;
  transition: all linear .5s;
  &.active {
    opacity: 1;
  }
}

button {
  font-size: 20px;
  background-color: white;
  color: black;
  border: 2px solid #318bf8;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #318bf8;
  color: white;
}
