 <!-- <ul class="student">
  <button type="button" (click)="deleteStudent()">Delete Student</button>
 </ul>

 <ul class="student">
  <button type="button" (click)="addStudent()">Add Student</button>
</ul> -->

<button type="button" (click)="addStudent()">Add Student</button>

<button type="button" (click)="deleteStudent()">Delete Student</button>

 <h2>Students: </h2>
<div class="student">
  <li *ngIf="student.length === 0">No Students</li>
  <div *ngFor="let student of student">
    <hr>
    <h2>{{student.name}}</h2>
    <img width="100" [src]="student.Image" alt="Image">
    <p class="badge">{{student.academicGrade}}</p>
    <p class="badge">{{student.favoriteSubjects}}</p>
  </div>
</div>
