<button type="button" (click)="addStudent()">Add Student</button>

 <h2 class="badge">Students: </h2>
<div class="student">
  <li *ngIf="students.length === 0">No Students</li>
  <div *ngFor="let student of students; index as i">
    <h2>{{student.name}}</h2>
    <img [src]="student.image" alt="Image">
    <p>{{student.academicGrade}}</p>
    <p>{{student.favoriteSubjects}}</p>
    <button type="button" (click)="deleteStudent(i)">Delete Student</button>
    <div class="input">
      <label for="name">Name </label>
      <input type="text" name="name" id="name" [(ngModel)]="student.name">
    </div>
    <div class="input">
      <label for="academicGrade">Academic Grade </label>
      <input type="text" name="academicGrade" id="academicGrade" [(ngModel)]="student.academicGrade">
    </div>
    <div class="input">
      <label for="favoriteSubjects">Favorite Subjects </label>
      <input type="text" name="favoriteSubjects" id="favoriteSubjects" [(ngModel)]="student.favoriteSubjects">
    </div>
  </div>
</div>

<p><a href="https://www.w3schools.com/" target="_blank"> Conoce más información sobre Angular </a></p>
