// grid design (cuadriculas)
.student {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  background-color: #76b1f9;
  padding: 10px;
  list-style: none;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    p {
      margin: 0;
      color: black;
      text-align: center;
    }
  }
}

.badge {
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: #1a4478;
}

//controls the buttons characteristic
button {
  position:relative;
  background-color: #318bf8;
  margin: .5em;
  border-radius: 4px;
  display:flex;
  align-items:center;
  height: 1em;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
}

//controls the buttons color: font color and background color
//but only when I stand on the button
button:hover {
  color: #EABE3F;
  background-color:#1a4478;
}

.selected {
  background-color: #1a4478;
  color: #EABE3F;
}
