<button type="button" (click)="addStudent()">Add Student</button>

 <h2 class="badge">Students: </h2>
<div class="student">
  <li *ngIf="students.length === 0">No Students</li>
  <div *ngFor="let student of students; index as i">
    <button [class.selected]="student === studentSelected" type="button" (click)="onSelect(student)">
      <span>{{student.name}}</span>
    </button>
    <img [src]="student.image" alt="Image">
    <p>{{student.academicGrade}}</p>
    <p>{{student.favoriteSubjects}}</p>
    <button type="button" (click)="deleteStudent(i)">Delete Student</button>
  </div>
</div>
<hr>
<app-edit-student [student]="studentSelected"></app-edit-student>

<p><a href="https://www.w3schools.com/" target="_blank"> Conoce más información sobre Angular </a></p>
