.student {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 18em;
}

button {
  flex: 1;
  cursor: pointer;
  position:relative;
  left: 0;
  background-color: #318bf8;
  margin: .5em;
  padding: 10;
  border-radius: 4px;
  display:flex;
  align-items:center;
  height: 2em;
  color: white;
}

//controls the buttons color: font color and background color
//but only when I stand on the button
button:hover {
  color: white;
  background-color:#256bc0;

}


.student .badge {
  align-self: center;
  color: rgb(22, 163, 6)
}
